In [1]:
!pip install numpy
!pip install pandas
!pip install matplotlib
!pip install statsmodels
!pip install seaborn

Collecting numpy
  Using cached numpy-1.19.1-cp37-cp37m-manylinux2010_x86_64.whl (14.5 MB)
Installing collected packages: numpy
Successfully installed numpy-1.19.1
Collecting pandas
  Using cached pandas-1.1.1-cp37-cp37m-manylinux1_x86_64.whl (10.5 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.2
  Using cached pytz-2020.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: numpy>=1.15.4 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.19.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.1.1 pytz-2020.1
Collecting matplotlib
  Using cached matplotlib-3.3.1-cp37-cp37m-manylinux1_x86_64.whl (11.6 MB)
Requirement already satisfied: numpy>=1.15 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.19.1)
Requirement already satisfied: certifi>=2020.06.20 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.8.1)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.2.0-cp37-cp37m-manylinux1_x86_64.whl (88 kB)
Collecting cycler>=0.10
  Using cached cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Collecting pillow>=6.2.0
  Using cached Pillow-7.2.0-cp37-cp37m-manylinux1_x86_64.whl (2.2 MB)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Installing collected packages: kiwisolver, cycler, pillow, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.2.0 matplotlib-3.3.1 pillow-7.2.0
Collecting statsmodels
  Using cached statsmodels-0.12.0-cp37-cp37m-manylinux1_x86_64.whl (9.5 MB)
Requirement already satisfied: pandas>=0.21 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from statsmodels) (1.1.1)
Collecting patsy>=0.5
  Using cached patsy-0.5.1-py2.py3-none-any.whl (231 kB)
Requirement already satisfied: numpy>=1.15 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from statsmodels) (1.19.1)
Collecting scipy>=1.1
  Using cached scipy-1.5.2-cp37-cp37m-manylinux1_x86_64.whl (25.9 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.21->statsmodels) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.21->statsmodels) (2020.1)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from patsy>=0.5->statsmodels) (1.15.0)
Installing collected packages: patsy, scipy, statsmodels
Successfully installed patsy-0.5.1 scipy-1.5.2 statsmodels-0.12.0
Collecting seaborn
  Using cached seaborn-0.10.1-py3-none-any.whl (215 kB)
Requirement already satisfied: pandas>=0.22.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.1.1)
Requirement already satisfied: numpy>=1.13.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.19.1)
Requirement already satisfied: matplotlib>=2.1.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (3.3.1)
Requirement already satisfied: scipy>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.5.2)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.22.0->seaborn) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.22.0->seaborn) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn) (7.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn) (2.4.7)
Requirement already satisfied: certifi>=2020.06.20 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn) (2020.6.20)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.22.0->seaborn) (1.15.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.10.1

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import statsmodels.graphics.tsaplots as sgt 
import statsmodels.tsa.stattools as sts 
from statsmodels.tsa.seasonal import seasonal_decompose
import seaborn as sns
sns.set()

In [5]:
# Dataset de trabajo
data_ini = pd.read_csv("Datos_csv.csv")

Since the data has hourly datetime records, let's look at the first 24 rows

In [6]:
data_ini.head(24)

,muestras,anio,fecha,hora_inicio,hora_fin,dema_int,dem_inst,aniomovil
0,1,2017,01-sep,0,1,6872.013385,6976.172363,1
1,2,2017,01-sep,1,2,6660.573651,6709.388672,1
2,3,2017,01-sep,2,3,6504.232961,6568.017090,1
3,4,2017,01-sep,3,4,6435.836442,6502.294434,1
4,5,2017,01-sep,4,5,6437.741557,6384.402344,1
5,6,2017,01-sep,5,6,6520.068903,6426.338379,1
6,7,2017,01-sep,6,7,6879.321252,6600.442383,1
7,8,2017,01-sep,7,8,7312.121555,7122.660156,1
8,9,2017,01-sep,8,9,7607.777175,7421.090820,1
9,10,2017,01-sep,9,10,7853.604396,7789.145508,1
10,11,2017,01-sep,10,11,7950.773802,7868.993652,1
11,12,2017,01-sep,11,12,8031.550572,8070.657227,1
12,13,2017,01-sep,12,13,8104.972262,8078.395508,1
13,14,2017,01-sep,13,14,8125.824147,8168.154297,1
14,15,2017,01-sep,14,15,8071.031945,8129.143555,1
15,16,2017,01-sep,15,16,8045.984608,7951.537598,1
16,17,2017,01-sep,16,17,8053.916788,8055.689453,1
17,18,2017,01-sep,17,18,7886.749222,8049.655273,1
18,19,2017,01-sep,18,19,7572.385483,7661.959961,1
19,20,2017,01-sep,19,20,7410.154346,7443.925781,1
20,21,2017,01-sep,20,21,7843.120252,7500.266113,1
21,22,2017,01-sep,21,22,7858.391412,7981.366699,1
22,23,2017,01-sep,22,23,7570.684273,7702.476074,1
23,24,2017,01-sep,23,24,7220.217254,7373.834961,1

The colums "hora_inicio" and "hora_fin" are, respectively, the time interval where the energy-consume measures were taken. In order to create a *Time-Series object*, we will create a copy from this *dataframe* to do the all necesary changes. However, to achieve that, we need to keep just one hour to create later an index, let's take the "hora_fin" as the hour where the energy-consume medition was measure.

In [10]:
df_comp = data_horas.copy()

Now, erase all useless columns. For this analysis I keep the hourly-average demand (dema_int) because it has more statistical infromation than instant demand (dem_inst)

In [11]:
del df_comp['muestras']
del df_comp['hora_inicio']
del df_comp['dem_inst']
del df_comp['aniomovil']

In [12]:
df_comp.head(24)

    anio   fecha  hora_fin     dema_int
0   2017  01-sep         1  6872.013385
1   2017  01-sep         2  6660.573651
2   2017  01-sep         3  6504.232961
3   2017  01-sep         4  6435.836442
4   2017  01-sep         5  6437.741557
5   2017  01-sep         6  6520.068903
6   2017  01-sep         7  6879.321252
7   2017  01-sep         8  7312.121555
8   2017  01-sep         9  7607.777175
9   2017  01-sep        10  7853.604396
10  2017  01-sep        11  7950.773802
11  2017  01-sep        12  8031.550572
12  2017  01-sep        13  8104.972262
13  2017  01-sep        14  8125.824147
14  2017  01-sep        15  8071.031945
15  2017  01-sep        16  8045.984608
16  2017  01-sep        17  8053.916788
17  2017  01-sep        18  7886.749222
18  2017  01-sep        19  7572.385483
19  2017  01-sep        20  7410.154346
20  2017  01-sep        21  7843.120252
21  2017  01-sep        22  7858.391412
22  2017  01-sep        23  7570.684273
23  2017  01-sep        24  7220.217254

In [14]:
df_comp.tail(24)

       anio   fecha  hora_fin     dema_int
25128  2020  14-jul         1  7763.433126
25129  2020  14-jul         2  7471.515365
25130  2020  14-jul         3  7316.608956
25131  2020  14-jul         4  7200.330530
25132  2020  14-jul         5  7158.839702
25133  2020  14-jul         6  7213.561381
25134  2020  14-jul         7  7462.637833
25135  2020  14-jul         8  7765.040561
25136  2020  14-jul         9  8231.752023
25137  2020  14-jul        10  8625.994668
25138  2020  14-jul        11  8819.870129
25139  2020  14-jul        12  8937.271411
25140  2020  14-jul        13  8966.929124
25141  2020  14-jul        14  8914.504597
25142  2020  14-jul        15  8917.086606
25143  2020  14-jul        16  8941.130870
25144  2020  14-jul        17  8993.961996
25145  2020  14-jul        18  8827.282905
25146  2020  14-jul        19  8475.416513
25147  2020  14-jul        20  8223.639187
25148  2020  14-jul        21  8241.447436
25149  2020  14-jul        22  8604.842271
25150  2020  14-jul        23  8519.651856
25151  2020  14-jul        24  8279.839812

The problem is that there is not a unique column with the whole datetime instead of separete datetime columns besides a non-optimal date format. At this point, I wil create a datatime properly from the star. First, let's see the number of records in the dataframe and if there is missing data.

In [13]:
df_comp.describe()

               anio      hora_fin      dema_int
count  25152.000000  25152.000000  25152.000000
mean    2018.605797     12.500000   7745.438583
std        0.919625      6.922324    974.363777
min     2017.000000      1.000000   4288.339301
25%     2018.000000      6.750000   7011.455212
50%     2019.000000     12.500000   7807.317117
75%     2019.000000     18.250000   8484.490007
max     2020.000000     24.000000  10567.494660

There are 25152 records in the dataframe where the initial date (Taking the final hour) is 2017-09-01 01:00:00 and the final date is 2020-07-14 24:00:00

In [15]:
df_comp.dema_int.isna().sum()

0

Fourtunately, there are no missing data, so it is not necesary to fill the data (with some condition). So, now I create the datatime dataframe auxiliar

In [16]:
hour_dates = pd.date_range(start="2017-09-01 01:00:00" , periods=25152 , freq='60min')
hour_dates

DatetimeIndex(['2017-09-01 01:00:00', '2017-09-01 02:00:00',
               '2017-09-01 03:00:00', '2017-09-01 04:00:00',
               '2017-09-01 05:00:00', '2017-09-01 06:00:00',
               '2017-09-01 07:00:00', '2017-09-01 08:00:00',
               '2017-09-01 09:00:00', '2017-09-01 10:00:00',
               ...
               '2020-07-14 15:00:00', '2020-07-14 16:00:00',
               '2020-07-14 17:00:00', '2020-07-14 18:00:00',
               '2020-07-14 19:00:00', '2020-07-14 20:00:00',
               '2020-07-14 21:00:00', '2020-07-14 22:00:00',
               '2020-07-14 23:00:00', '2020-07-15 00:00:00'],
              dtype='datetime64[ns]', length=25152, freq='60T')

Now, I create an auxiliar *dataframe* to generate a new one to generate a *time-series* object

In [20]:
df_time_series = pd.DataFrame(data=hour_dates, columns=['Dates'])
df_time_series.tail()

                    Dates
25147 2020-07-14 20:00:00
25148 2020-07-14 21:00:00
25149 2020-07-14 22:00:00
25150 2020-07-14 23:00:00
25151 2020-07-15 00:00:00

Notice that all dates were generetaed succesfully

In [21]:
df_time_series['Avr_Hourly_Consume_GWh'] = df_comp['dema_int']

In [22]:
df_time_series.head(24)

                 Dates  Avr_Hourly_Consume_GWh
0  2017-09-01 01:00:00             6872.013385
1  2017-09-01 02:00:00             6660.573651
2  2017-09-01 03:00:00             6504.232961
3  2017-09-01 04:00:00             6435.836442
4  2017-09-01 05:00:00             6437.741557
5  2017-09-01 06:00:00             6520.068903
6  2017-09-01 07:00:00             6879.321252
7  2017-09-01 08:00:00             7312.121555
8  2017-09-01 09:00:00             7607.777175
9  2017-09-01 10:00:00             7853.604396
10 2017-09-01 11:00:00             7950.773802
11 2017-09-01 12:00:00             8031.550572
12 2017-09-01 13:00:00             8104.972262
13 2017-09-01 14:00:00             8125.824147
14 2017-09-01 15:00:00             8071.031945
15 2017-09-01 16:00:00             8045.984608
16 2017-09-01 17:00:00             8053.916788
17 2017-09-01 18:00:00             7886.749222
18 2017-09-01 19:00:00             7572.385483
19 2017-09-01 20:00:00             7410.154346
20 2017-09-01 21:00:00             7843.120252
21 2017-09-01 22:00:00             7858.391412
22 2017-09-01 23:00:00             7570.684273
23 2017-09-02 00:00:00             7220.217254

In [24]:
df_comp.date = pd.to_datetime(df_time_series.Dates, dayfirst = True)

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.